@{
    ViewBag.Title = "Chat";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="container">

    <div class="row" id="glavniRed">

        <div class="col-md-4">
            <div>

                <div>
                    <h3>Ulogovani Korisnici </h3>
                </div>

                <div id="divusers"></div>
            </div>
        </div>

        <div class="col-md-3 pull-right">
            <h3>Grupe</h3>
            <input type="button" value="Grupa 1" id="btnGrupa" class="btn btn-success" />
        </div>
    </div>

</div>

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/SignalR/js"></script>
    <script src="~/Scripts/js.js"></script>
}
